{% extends 'base.html' %}

{% block content %}
    <main class="container py-5">
        <section class="card card-body">
            <h1 class="display-1 text-center">Django App</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit et culpa, dicta ea veniam, reiciendis eum sed ad aspernatur optio aperiam? Magni perferendis sunt neque vitae repudiandae ut eveniet molestiae nemo expedita esse facere suscipit obcaecati laudantium natus, sint accusamus ad excepturi. Unde nostrum ea est explicabo illum optio, sapiente minus eveniet eius eum, asperiores dolorum atque! Consequuntur illum sed debitis voluptate cupiditate repellat temporibus dolorem, ipsum error. Possimus ut eveniet quasi quibusdam. Sequi minima error facere qui ex obcaecati eveniet tenetur praesentium optio omnis nihil, ipsam, illum commodi, quasi maiores facilis! Distinctio eveniet qui dolorum maiores minima, vel id.</p>
            <div class="text-center">
                <a class="btn btn-dark" href="/signin/">
                    Signin
                </a>
                <a class="btn btn-dark" href="/signup/">
                    Signup
                </a>
            </div>
        </section>
    </main>
{% endblock %}